.menu-items {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: .5em 0 1.5em;
  margin: 0;
  font-size: 22px;
  color: rgb(var(--black));
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  box-shadow: var(--box-shadow);
  animation-name: open-close;
  animation-duration: 500ms;
}

@keyframes open-close {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1em;
}

.logo {
  font-size: 16px;
  margin-left: 1.5em;
}

.close-button {
  margin-right: 1.8em;
  padding: 0;
  background: none;
  border: none;
}
