.alert {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  padding: 2.3em 0.8em;
  border-radius: 3px;
  color: rgb(var(--black));
  background: linear-gradient(var(--gray-gradient)) no-repeat;
  box-shadow: var(--box-shadow);
}

.icon-container {
  width: 50px;
  height: 50px;
}
