---
import Icon from './Icon.astro';

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<div id="warningAlert" class="alert">
  <div class="icon-container">
    <Icon />
  </div>
  <div>{title}</div>
</div>

<style>
  .alert {
    display: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 1.3em 0.9em;
    border-radius: 3px;
    color: rgb(var(--black));
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    box-shadow: var(--box-shadow);
  }

  .icon-container {
    width: 50px;
    height: 50px;
  }
</style>
