---
import { Button } from "./Button";
import Icon from "./Icon.astro";

type Props = {
  title?: string;
  pale?: boolean;
};

const { title, pale } = Astro.props;
---

<div class="warning">
  {
    title && (
      <Button client:load title={title}>
        <Icon pale={pale} />
      </Button>
    )
  }
</div>

<style>
  .warning {
    height: 24px;
    width: 24px;
  }
</style>
