---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} />
  </head>
  <body>
    <Header />
    <main>
      <h1>АВердизм</h1>
      <p>
        <strong>Энергетика</strong> — это не только фундамент цивилизации, но и особая
        эстетика: величественная, строгая, почти сакральная. Эстетическое богатство
        прячется там, где, казалось бы, нет места поэзии — в гигантских силуэтах
        энергетических объектов, в светящихся линиях проводов, в механическом дыхании
        машин, дарящих человечеству свет и тепло.
      </p>
      <p>
        С начала промышленной индустриализации энергетики художники
        вдохновляются величием и суровой красотой грандиозных инженерных
        сооружений генерации и транспортировки электроэнергии, добычи и
        переработки полезных ископаемых-энергоносителей. В полотнах советского
        промышленного реализма запечатлен трудовой подвиг рабочих-строителей,
        инженеров-проектировщиков, ученых-физиков, создавших энергетическую мощь
        нашей страны, заложивших фундамент современного энергетического
        могущества России.
      </p>
      <p>
        Сегодня наступает новая эпоха —
        <strong>эпоха устойчивого развития</strong>. Она требует не только
        инновационных технологических решений, но и переосмысления искусством
        новых форм энергии и различных перемен в энергетической отрасли в целом.
      </p>
      <p>
        <strong>АВерде</strong> — творческое объединение, создающее в разных областях
        искусства художественные образы, призванные представить грандиозное величие
        и великолепие энергетической отрасли, раскрыть эстетическую самобытность
        масс и структур, созданных смелой конструкторской мыслью, выразить особую
        харизму потоков ветра, воды и света, образующих лучи, спирали, вихри и всплески.
      </p>
      <p>
        Миссия <strong>АВерде</strong> — соединять профессионалов искусства и энергетиков,
        создавать мост между индустриальной мощью и художественным воображением,
        где линии электропередач превращаются в динамику мазков, сияние турбин рождает
        световые ритмы на холсте, а пульс электростанций звучит как поэзия цвета.
      </p>
      <p>
        <strong>Арт-платформа АВерде</strong> зародилась в Российской Федерации и
        с гордостью продолжит синтез энергетики и искусства на международной арене
        — в пространстве ООН, БРИКС и ШОС.
      </p>
    </main>
    <Footer />
  </body>
</html>
