---
import { Image } from "astro:assets";
import HomeImage from "../assets/home.jpg";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} />
    <style>
      /* Фото */

      .photo img {
        max-height: 510px;
        border-radius: 3px;
      }

      .container {
        display: flex;
        flex-flow: column;
        align-items: center;
      }

      .container h1 {
        margin: 4rem 0 3rem;
      }

      .container span {
        text-align: center;
        margin: 2rem 0 4rem;
      }

      .container hr {
        width: 80%;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="photo">
        <Image src={HomeImage} alt="" />
      </div>
      <div class="container">
        <h1>Аверде</h1>
        <hr />
        <span
          >Мы верим: энергия — это не только движение частиц, но и движение
          души. И это движение должно обрести своё художественное Слово</span
        >
      </div>
    </main>
    <Footer />
  </body>
</html>
