---
import { Image } from "astro:assets";
import HomeImage from "../assets/home.jpg";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="ru">
  <head>
    <BaseHead title={SITE_TITLE} />
    <style>
      main {
        width: 100%;
        max-width: 720px;
        padding: 3em 0;
      }

      @media (max-width: 720px) {
        main {
          padding: 0;
        }
      }

      /* Фото */

      .photo {
        position: relative;
      }

      .photo img {
        max-width: 100%;
        border-radius: 6px;
      }

      .container {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin: 2rem 1em 10rem;
        background-color: rgb(256, 256, 256, 0.75);
        border-radius: 0.3em;
      }

      .container span {
        padding: 0 1em;
        text-align: center;
        font-size: 1.25em;
      }

      @media (max-width: 655px) {
        .container {
          margin: 2rem 0.5em 5rem;
        }
      }

      @media (max-width: 437px) {
        .container {
          margin: 2rem 0.5em 1rem;
        }
      }

      @media (max-width: 540px) {
        .container span {
          font-size: 1em;
        }
      }

    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="photo">
        <Image src={HomeImage} alt="АВерде" />
        <div class="container">
          <span
            >Мы верим: энергия — это не только движение частиц, но и движение
            души. И это движение должно обрести своё художественное Слово</span
          >
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
