---
import { useTranslations } from "../ui";
import LanguagePicker from "./LanguagePicker.astro";
import SocialLinks from "./social-links/SocialLinks.astro";

const today = new Date();
const { t } = useTranslations(Astro.currentLocale);
---

<footer>
  <div class="copy-right">
    &copy; {today.getFullYear()}
    {t("footer.copy")}
  </div>
  <LanguagePicker />
  <SocialLinks pale />
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }

  .copy-right {
    margin-bottom: 1em;
  }
</style>
