---
import EmailLink from "./social-links/EmailLink.astro";
import InstagramLink from "./social-links/InstagramLink.astro";
import TelegramLink from "./social-links/TelegramLink.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Авердизм. Все права защищены.
  <div class="social-links">
    <EmailLink pale />
    <TelegramLink pale />
    <InstagramLink pale />
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
</style>
