---
import HeaderLink from "./HeaderLink.astro";
import MobileMenu from "./mobile-menu/MobileMenu.astro";
import SocialLinks from "./social-links/SocialLinks.astro";
import { useTranslations } from "../ui";

const { t } = useTranslations(Astro.currentLocale);
---

<header>
  <nav>
    <h2>
      <HeaderLink href={"/"}>AV</HeaderLink>
    </h2>
    <div class="internal-links">
      <HeaderLink href={"/about"}>{t("menu.averdizm")}</HeaderLink>
      <HeaderLink href={"/artists"}>{t("menu.artists")}</HeaderLink>
      <HeaderLink href={"/arts"}>{t("menu.arts")}</HeaderLink>
      <HeaderLink href={"/news"}>{t("menu.news")}</HeaderLink>
    </div>
    <SocialLinks hideOnMobile />
    <MobileMenu>
      <HeaderLink href={"/about"}>{t("menu.averdizm")}</HeaderLink>
      <HeaderLink href={"/artists"}>{t("menu.artists")}</HeaderLink>
      <HeaderLink href={"/arts"}>{t("menu.arts")}</HeaderLink>
      <HeaderLink href={"/news"}>{t("menu.news")}</HeaderLink>
      <SocialLinks />
    </MobileMenu>
  </nav>
</header>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  h2 {
    margin: 0;
    line-height: 1.7;
    font-size: 1em;
  }

  h2 a {
    color: rgb(var(--black));
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 786px) {
    .internal-links {
      display: none;
    }
  }
</style>
