---
import { getRelativeLocaleUrl } from "astro:i18n";

type Props = {
  href: string;
}

const { href } = Astro.props;

let hrefPath = href;
let currentPath = Astro.url.pathname;

if (Astro.currentLocale) {
  hrefPath = getRelativeLocaleUrl(Astro.currentLocale, href);
  currentPath = currentPath.replace(Astro.currentLocale, "");
}

currentPath = currentPath.match(/[^\/]+/g)?.[0] ?? "";

const isActive = href === "/" + currentPath || (href === "/" && currentPath === "");
---

<a href={hrefPath} class:list={[{ active: isActive }]}>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    padding: 1.6em 0.3em;
    color: rgb(var(--black));
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
    font-weight: bolder;
  }

  @media (max-width: 720px) {
    a {
      padding: 1em 0.3em;
    }
  }
</style>
