---
import EmailLink from "./social-links/EmailLink.astro";
import HeaderLink from "./HeaderLink.astro";
import InstagramLink from "./social-links/InstagramLink.astro";
import TelegramLink from "./social-links/TelegramLink.astro";
---

<header>
  <nav>
    <h2><a href="/">AV</a></h2>
    <div class="internal-links">
      <HeaderLink href="/about">Авердизм</HeaderLink>
      <HeaderLink href="/artists">Художники</HeaderLink>
      <HeaderLink href="/arts">Картины</HeaderLink>
    </div>
    <div class="social-links">
      <EmailLink />
      <TelegramLink />
      <InstagramLink />
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a {
    color: rgb(var(--black));
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
