---
import { ui } from "../ui";
import { getRelativeLocaleUrl } from "astro:i18n";

type Props = {
  pale?: boolean;
};

const { pale } = Astro.props;
---

<ul class="language-picker">
  {
    Object.keys(ui).map(
      (language) =>
        language !== Astro.currentLocale && (
          <li class:list={["language", { pale: pale }]}>
            <a href={getRelativeLocaleUrl(language, "/")}>
              {language[0].toLocaleUpperCase() + language.substring(1)}
            </a>
          </li>
        )
    )
  }
</ul>

<style>
  .language-picker {
    padding: 1.3em 0.3em 2px;
    margin: 0;
  }

  .language {
    list-style: none;
  }
  
  .language a {
    display: block;
    margin: 4px 8px;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: rgb(var(--gray-dark));
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  @media (max-width: 720px) {
    .language a {
      margin-top: 6px;
    }
  }

  .language.pale a {
    background-color: rgb(var(--gray));
  }

  .language:hover a {
    background-color: rgb(var(--black));
    cursor: pointer;
  }
</style>
