---
import type { HTMLAttributes } from "astro/types";
import Warning from "./warning/Warning.astro";

type Props = HTMLAttributes<"a"> & {
  pale?: boolean;
  warning?: string;
};

const { pale, warning, ...props } = Astro.props;
---

<div class="social-link">
  <a class:list={["link", { pale: pale }]} {...props}>
    <slot />
  </a>
  <Warning title={warning} pale={pale} />
</div>

<style>
  .social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.3em 0.3em 2px;
  }

  .link {
    display: block;
    width: 50px;
    height: 50px;
    color: rgb(var(--gray-dark));
  }

  .link.pale {
    color: rgb(var(--grey));
  }

  .link:hover {
    color: rgb(var(--black));
  }
</style>
